.menu-hamburguer {
  background-color: var(--azul-escuro-1);

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  width: 16rem;
  height: 100vh;
  padding: 1.5rem 1.5rem;

  display: flex;
  flex-direction: column;
}

.menu-hamburguer button {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  padding: 0;
}

.x {
  align-self: flex-end;
}

.profile-mobile {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}

.profile-mobile img {
  width: 3.5rem;
  height: 3.5rem;
}

.favoritos-mobile,
.promocoes-mobile,
.sacola {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

.sacola img {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 68.125rem) {
  .menu-hamburguer {
    display: none;
  }
}
