.cupom-desconto {
  background: url("../../assets/images/bg-promotion.svg") no-repeat right /
    cover;
  width: calc(var(--movie-card-width) * 5 + 4 * var(--gap-btw-cards));
  height: 7rem;
  margin-bottom: 1.5rem;
  padding: 1rem 1rem 1rem;
  color: var(--preto-4);

  text-transform: uppercase;

  cursor: pointer;

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  gap: 2.5rem;

  position: relative;
}

.aproveite,
.finalizaEm {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aproveite h1,
.aproveite span,
.finalizaEm span,
.finalizaEm h2 {
  font-family: "Quantico";
  opacity: 0.8;
}

.aproveite span {
  font-size: 1rem;
}

.cupom-span {
  margin-left: 1rem;
}

.aproveite img,
.finalizaEm img {
  width: 2rem;
  height: 2rem;
}

.aproveite-footer,
.finalizaEm-footer {
  display: flex;
  align-items: center;
}

.finalizaEm h2 {
  line-height: 1.6em;
  font-weight: 300;
}

.finalizaEm-footer span {
  margin-left: 1rem;
}

.money {
  height: 9rem;
  position: absolute;
  top: -1.8rem;
  right: 2.5rem;
}

@media (max-width: 68.125rem) {
  .cupom-desconto {
    background: url("../../assets/images/mobile-bg-promotion.svg") no-repeat
      right / cover;

    width: 100%;
    height: 17.563rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;

    position: relative;
  }

  .aproveite-footer {
    display: grid;
    grid-template-areas: "cupom cupom" "ticket html";
    grid-template-columns: min-content;
    gap: 0.5rem;
  }

  .cupom-span {
    margin: 0;
    grid-area: cupom;
  }
  .aproveite img {
    grid-area: ticket;
  }
  .html {
    grid-area: html;
  }

  .aproveite h1 {
    width: 12.5rem;
  }

  .finalizaEm {
    justify-content: unset;
    height: unset;
  }

  .finalizaEm h2,
  .aproveite .cupom-span {
    font-size: 0.875rem;
  }

  .finalizaEm span {
    font-size: 1.5rem;
  }

  .money {
    height: 9rem;
    position: absolute;
    top: -1.8rem;
    right: -2rem;
  }
}
