header {
  background-color: var(--azul-escuro-1);
  padding: 1.5em 96px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  color: var(--branco-1);
}

.logo {
  width: 2rem;
  height: 2.25rem;
}

.pesquisa {
  background-color: var(--preto-1);
  width: 28.5rem;
  display: flex;
  position: relative;
}

.pesquisa input {
  background-color: var(--preto-1);
  color: var(--branco-1);
  border: none;
  padding: 1rem 0.875rem;
  width: 100%;
}

/* .pesquisa input:hover {
  border: 0.063rem solid var(--cinza-1);
} */

.pesquisa input:focus {
  outline: none;
  border: 0.063rem solid var(--branco-1);
}

.lupa {
  position: absolute;
  right: 1rem;
  top: auto;
  bottom: auto;
  width: 1.5rem;
  height: 1.5rem;
  align-self: center;
}

.favoritos {
  display: flex;
  gap: 8px;
  grid-area: favoritos;
}

.promocoes {
  display: flex;
  gap: 8px;
  grid-area: promocoes;
}

.profile {
  display: flex;
  align-items: center;
  gap: 8px;
  grid-area: profile;
}

.profile img {
  width: 3.5rem;
  height: 3.5rem;
}

.menu-button {
  background-color: transparent;
  border: none;
  display: none;
}

a {
  all: unset;
}

@media (max-width: 1090px) {
  header {
    background-color: var(--azul-escuro-1);
    padding: 1.5em 1.5rem;
  }

  .container--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: var(--branco-1);
  }

  .menu-button {
    display: inline;
    z-index: 2;
    padding: 0;
  }

  .pesquisa,
  .favoritos,
  .promocoes,
  .profile {
    display: none;
  }
}
