* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

:root {
  --branco-1: #fdfdfd;
  --cinza-1: #8c8c8c;
  --azul-escuro-1: #0f1c26;
  --preto-1: #171b1e;
  --preto-2: #1d2226;
  --preto-3: #0b1217;
  --lilas-1: #a785ed;
  --dourado-1: #fbcd6e;
  --rosa-1: #e183c8;
  --rosa-2: #e25ebf;
}

body {
  background-color: var(--preto-2);
}
